In [1]:
from piper.defaults import *

piper v0.1.2: Friday, 09 April 2021 18:50:00

In [2]:
%piper sample_data() >> head()

367 rows, 7 columns

       dates order_dates countries regions ids  values_1  values_2
0 2020-01-01  2020-01-07     Italy    East   A       311        26
1 2020-01-02  2020-01-08  Portugal   South   D       150       375
2 2020-01-03  2020-01-09     Spain    East   A       396        88
3 2020-01-04  2020-01-10     Italy    East   B       319       233

In [3]:
%%piper 
sample_data()
>> group_by(['countries', 'regions'])
>> summarise(total_values_1=('values_1', 'sum'))
>> assign(col_a=lambda x: x.total_values_1 * 10,
          col_b=lambda x: x.col_a * 100)
>> add_xl_formula()
>> transform()
>> relocate(column='g%', loc='after', ref_column='total_values_1')
>> reset_index()
>> adorn(axis='both', ignore_index=True).fillna('')
>> select(['-All', '-col_a', '-countries'])
>> memory()
>> tail()

Dataframe consumes 0.01 Mb

33 rows, 5 columns

   regions  total_values_1      g%     col_b                      xl_calc
29   North            2723   31.06   2723000  =CONCATENATE(A31, B31, C31)
30   South            2498   28.49   2498000  =CONCATENATE(A32, B32, C32)
31    West            1920   21.90   1920000  =CONCATENATE(A33, B33, C33)
32     All           73604  799.99  73604000