In [1]:
from piper import piper
from piper.verbs import *
from piper.factory import get_sample_data

In [2]:
%piper get_sample_data() >> head()

367 rows, 7 columns

       dates order_dates countries regions ids  values_1  values_2
0 2020-01-01  2020-01-07     Italy    East   A       311        26
1 2020-01-02  2020-01-08  Portugal   South   D       150       375
2 2020-01-03  2020-01-09     Spain    East   A       396        88
3 2020-01-04  2020-01-10     Italy    East   B       319       233

In [3]:
%%piper 
get_sample_data()
>> group_by(['countries', 'regions'])
>> summarise(total_values_1=('values_1', 'sum'))
>> assign(col_a=lambda x: x.total_values_1 * 10,
          col_b=lambda x: x.col_a * 100,
          col_c='string value'.title())
>> add_formula()
>> add_group_calc(index=['countries'])
>> move_column(column='group_%', loc='after', ref_column='total_values_1')
>> pd.DataFrame.reset_index()
>> adorn(axis='both', ignore_row_index=True).fillna('')
# >> select(['-All', '-col_a', '-countries'])
>> memory()
>> tail()

Dataframe with (rows, cols) (33, 9) consumes 0.01 Mb
33 rows, 9 columns

,countries,regions,total_values_1,group_%,col_a,col_b,col_c,xl_calc,All
29,Switzerland,North,2723,31.06,27230,2723000,String Value,"=CONCATENATE(A31, B31, C31)",2752984.06
30,Switzerland,South,2498,28.49,24980,2498000,String Value,"=CONCATENATE(A32, B32, C32)",2525506.49
31,Switzerland,West,1920,21.90,19200,1920000,String Value,"=CONCATENATE(A33, B33, C33)",1941141.90
32,All,,73604,799.99,736040,73604000,,,74414443.99

In [4]:
%%piper
counts(get_sample_data(), columns='regions')
>> adorn()

         n
East   103
West    94
South   87
North   83
All    367