# Reference

https://youtu.be/PGlBfr5SeEA

# Running totals: Excel

In [1]:
from piper import piper
from piper.verbs import *

xl = 'inputs/Running-Totals-in-Excel-Tables-3-Methods.xlsx'
df = pd.read_excel(xl, sheet_name='Method 1')
head(df)

piper version 0.0.8, last run: Tuesday, 02 March 2021 09:46:40
1000 rows, 7 columns

,Trans ID,Date Created,Customer Name,Region,Amount,Running Total,Running Total by Region
0,1,1/10/2018,Wordware,East,100,100,100
1,2,1/11/2018,Thoughtmix,North,80,180,80
2,3,1/11/2018,JumpXS,East,10,190,110
3,4,1/11/2018,Teklist,West,70,260,70

# Running totals: Pandas
Create a running total and running regional total

In [2]:
df2 = pd.read_excel(xl, sheet_name='Method 1', usecols='A:E')
head(df2)

1000 rows, 5 columns

   Trans ID Date Created Customer Name Region  Amount
0         1    1/10/2018      Wordware   East     100
1         2    1/11/2018    Thoughtmix  North      80
2         3    1/11/2018        JumpXS   East      10
3         4    1/11/2018       Teklist   West      70

In [3]:
df2['pandas_running_total'] = df['Amount'].cumsum()
df2['pandas_region_total'] = df2.groupby(['Region']).agg(Total=('Amount', 'cumsum'))
head(df2)

1000 rows, 7 columns

,Trans ID,Date Created,Customer Name,Region,Amount,pandas_running_total,pandas_region_total
0,1,1/10/2018,Wordware,East,100,100,100
1,2,1/11/2018,Thoughtmix,North,80,180,80
2,3,1/11/2018,JumpXS,East,10,190,110
3,4,1/11/2018,Teklist,West,70,260,70

# Running totals: Piper

In [5]:
%%piper
df2 
>> assign(piper_running_total = lambda x: x.Amount.cumsum())
>> group_calc(index='Region', column='piper_region_total',
                  value='Amount', function=np.cumsum)
>> head(5)

1000 rows, 9 columns

,Trans ID,Date Created,Customer Name,Region,Amount,pandas_running_total,pandas_region_total,piper_running_total,piper_region_total
0,1,1/10/2018,Wordware,East,100,100,100,100,100
1,2,1/11/2018,Thoughtmix,North,80,180,80,180,80
2,3,1/11/2018,JumpXS,East,10,190,110,190,110
3,4,1/11/2018,Teklist,West,70,260,70,260,70
4,5,1/11/2018,Yambee,West,70,330,140,330,140