In [1]:
from piper.defaults import *

piper v0.1.0: Monday, 29 March 2021 19:06:00

In [2]:
f = 'inputs/20160324_A004_ListPrice_Conditions.xlsx'
df = pd.read_excel(f)
head(df)

3686 rows, 9 columns

,cond,item,desc,price,curr,per,unit,effective,expired
0,PR00,0112E568,Embout Plastique Porte Electro,63.71,EUR,1,EA,2016-01-01,2016-12-31
1,PR00,011572,Ecrou Plastique Porte Electro,10.51,EUR,1,EA,2016-01-01,2016-12-31
2,PR00,033253,Vis M3 X 38 Testomat,8.08,EUR,1,EA,2016-01-01,2016-12-31
3,PR00,040011,Tuyau Aspiration Cplt T2000,111.22,EUR,1,EA,2016-01-01,2016-12-31

In [3]:
df.pipe(duplicated, 'price').pipe(head, 5)

3686 rows, 10 columns

,cond,item,desc,price,curr,per,unit,effective,expired,duplicate
1179,PR00,8100045,Air Filter Mat,0.50,EUR,1,EA,2016-01-01,2016-12-31,True
1103,PR00,6994321,Tie Wraps Kit,0.50,EUR,1,EA,2016-01-01,2016-12-31,True
3209,ZCAT,101507,Gamcath Gic-100 Luer Lock Injec. Cap,0.50,EUR,1,EA,2016-01-01,2016-12-31,True
29,PR00,100213007,Fuse 1A,0.58,EUR,1,EA,2016-01-01,2016-12-31,False
3190,ZCAT,101023,S-1016,0.60,EUR,1,EA,2016-01-01,2016-12-31,True

In [4]:
(df.pipe(pd.DataFrame.query, "price < 10" )
   .pipe(pd.DataFrame.assign,
         eoin=lambda x: x.cond + '_' + x.item,
         new_price=lambda x: x.price * 5)
   .pipe(to_excel, 'outputs/test.xlsx'))

Workbook: outputs/20210329_test.xlsx

<< mult-sheet mode >>

Sheet (range): sheet1 ($A$1:$K$612)

Completed.

In [5]:
(pd.read_excel(f)
   .query("price > 60")
   .assign(larger_price=lambda x: x.price * 2,
           new_field=lambda x: x.cond + ' ' + x.item)
   .pipe(duplicated, ['price'])
   .pipe(head, 5)
   .pipe(count, 'price')
   .pipe(info))

2025 rows, 12 columns

Dataframe consumes 0.0 Mb

  columns     type  n  isna  isnull  unique
0       n  float64  5     0       0       1
1       %  float64  5     0       0       1
2   cum %  float64  5     0       0       5

In [6]:
df.pipe(info, n_dupes=True)

Dataframe consumes 1.35 Mb

     columns            type     n  isna  isnull  unique  n dupes
0       cond          object  3686     0       0       2     3686
1       item          object  3686     0       0    3685        2
2       desc          object  3686     0       0    3529      274
3      price         float64  3686     0       0    2702     1506
4       curr          object  3686     0       0       1     3686
5        per           int64  3686     0       0       1     3686
6       unit          object  3686     0       0       2     3686
7  effective  datetime64[ns]  3686     0       0       3     3685
8    expired  datetime64[ns]  3686     0       0       4     3683

In [7]:
df.pipe(count, 'cond')
df.pipe(count, 'expired')

count(df, 'effective')
count(df, 'unit', totals=True)

count(df, ['effective', 'expired'], percent=True, cum_percent=False)

                          n      %
effective  expired
2016-01-01 2016-12-31  3669  99.54
2015-01-01 2016-12-31    14   0.38
           2016-12-08     1   0.03
2016-01-01 2016-03-31     1   0.03
2017-01-01 2050-12-31     1   0.03