# Setup

In [1]:
from piper.defaults import *

piper v0.1.0: Monday, 29 March 2021 19:09:44

# Selecting data

## pandas

In [2]:
df = sample_data()
df = df[df['regions'] == 'West']
df.head()

        dates order_dates    countries regions ids  values_1  values_2
11 2020-01-12  2020-01-18      Germany    West   E       173       312
15 2020-01-16  2020-01-22      Germany    West   A       368       371
22 2020-01-23  2020-01-29  Switzerland    West   E       277       121
23 2020-01-24  2020-01-30      Germany    West   D        25        80
26 2020-01-27  2020-02-02       France    West   A        65       114

In [3]:
df = sample_data()
df = df.query("regions == 'West'")
df.head()

        dates order_dates    countries regions ids  values_1  values_2
11 2020-01-12  2020-01-18      Germany    West   E       173       312
15 2020-01-16  2020-01-22      Germany    West   A       368       371
22 2020-01-23  2020-01-29  Switzerland    West   E       277       121
23 2020-01-24  2020-01-30      Germany    West   D        25        80
26 2020-01-27  2020-02-02       France    West   A        65       114

## piper(pandas)

In [4]:
%%piper

df <- get_sample_data()
>> where("regions == 'West'")
>> head()

Use %piper/%%piper --info to see rendered pandas pipe statement

name 'get_sample_data' is not defined

# Adding totals to a dataframe.

## pandas

In [5]:
df2 = df.groupby('countries').agg(Total_val2=pd.NamedAgg('values_2', 'sum'))
total_val = df2.Total_val2.sum()

# Add totals row
total_df = pd.DataFrame( [total_val], columns=['Total_val2'], index=['Total'])
pd.concat([df2, total_df], axis=0)

             Total_val2
France             4065
Germany            1321
Italy              1917
Norway              857
Portugal           2015
Spain              1447
Sweden             3055
Switzerland        2307
Total             16984

## piper(pandas)

In [6]:
%%piper

df
>> group_by('countries')
>> summarise(Total_Val2=('values_2', 'sum'))
>> adorn()

             Total_Val2
Germany            1321
Switzerland        2307
France             4065
Norway              857
Sweden             3055
Portugal           2015
Italy              1917
Spain              1447
All               16984

In [7]:
%%piper

df 
>> group_by('countries')
>> summarise(Total=('values_2', 'sum'))
>> assign(Total_x_10=lambda x: x.Total * 10)
>> rename(columns={'Total_x_10': 'Revised Total'})
>> adorn()

             Total  Revised Total
Germany       1321          13210
Switzerland   2307          23070
France        4065          40650
Norway         857           8570
Sweden        3055          30550
Portugal      2015          20150
Italy         1917          19170
Spain         1447          14470
All          16984         169840