# Setup

In [1]:
from piper.defaults import *

piper v0.1.2: Friday, 09 April 2021 18:51:59

# Selecting data

## pandas

In [2]:
df = sample_data()
df = df[df['regions'] == 'West']
df.head()

        dates order_dates    countries regions ids  values_1  values_2
11 2020-01-12  2020-01-18      Germany    West   E       173       312
15 2020-01-16  2020-01-22      Germany    West   A       368       371
22 2020-01-23  2020-01-29  Switzerland    West   E       277       121
23 2020-01-24  2020-01-30      Germany    West   D        25        80
26 2020-01-27  2020-02-02       France    West   A        65       114

In [3]:
df = sample_data()
df = df.query("regions == 'West'")
df.head()

        dates order_dates    countries regions ids  values_1  values_2
11 2020-01-12  2020-01-18      Germany    West   E       173       312
15 2020-01-16  2020-01-22      Germany    West   A       368       371
22 2020-01-23  2020-01-29  Switzerland    West   E       277       121
23 2020-01-24  2020-01-30      Germany    West   D        25        80
26 2020-01-27  2020-02-02       France    West   A        65       114

## piper(pandas)

In [4]:
%%piper

df <- sample_data()
>> where("regions == 'West'")
>> head()

94 rows, 7 columns

# Adding totals to a dataframe.

## pandas

In [5]:
df2 = df.groupby('countries').agg(Total_val2=pd.NamedAgg('values_2', 'sum'))
total_val = df2.Total_val2.sum()

# Add totals row
total_df = pd.DataFrame( [total_val], columns=['Total_val2'], index=['Total'])
pd.concat([df2, total_df], axis=0)

             Total_val2
Germany             763
Switzerland         121
Total               884

## piper(pandas)

In [6]:
%%piper

df
>> group_by('countries')
>> summarise(Total_Val2=('values_2', 'sum'))
>> adorn()

             Total_Val2
Germany             763
Switzerland         121
All                 884

In [7]:
%%piper

df 
>> group_by('countries')
>> summarise(Total=('values_2', 'sum'))
>> assign(Total_x_10=lambda x: x.Total * 10)
>> rename(columns={'Total_x_10': 'Revised Total'})
>> adorn()

             Total  Revised Total
Germany        763           7630
Switzerland    121           1210
All            884           8840