# Setup

In [1]:
from piper.defaults import *

piper v0.1.2: Friday, 09 April 2021 18:48:10

# Convert string based column data

In [2]:
dates_list = ['30/11/2019', '29/4/2019', '30/2/2019', '28/2/2019', '2019/4/30']
df_dates = pd.DataFrame(dates_list, columns=['test_dates'])
display(df_dates.T)

df_converted_dates = across(df_dates, ['test_dates'], function=pd.to_datetime, format='%d/%m/%Y', errors='coerce')
display(df_converted_dates.T)

                     0          1          2          3          4
test_dates  30/11/2019  29/4/2019  30/2/2019  28/2/2019  2019/4/30

                    0          1   2          3   4
test_dates 2019-11-30 2019-04-29 NaT 2019-02-28 NaT

# Convert int based column data

In [3]:
dates_list = [30112019, 2942019, 3022019, 2822019, 2019430]
df_dates = pd.DataFrame(dates_list, columns=['test_dates'])
display(df_dates.T)

df_converted_dates = across(df_dates, ['test_dates'],
                            function=pd.to_datetime,
                            format='%d%m%Y', errors='coerce')
display(df_converted_dates.T)

                   0        1        2        3        4
test_dates  30112019  2942019  3022019  2822019  2019430

                    0          1   2          3   4
test_dates 2019-11-30 2019-04-29 NaT 2019-02-28 NaT

# Convert Julian date column data

## Generate julian date dataframe examples

In [4]:
julian_dates = [
    '05001',  '100001', '114007', '110236', '111001', '106039', '112305',
    '102274', '115188', '110277', '102282', '114059', '112292', '112270',
    '110274', '110243', '102240', '102276', '112272', '116355', '110001',
    '115225', '115030', '111021', '107052', '117011', '115071', '106041',
    '114280', '116102', '112142', '113347', '103274', '111300', '115055',
    '115023', '115022', '113351', '113353', '106187', '115027', '112312',
    '113335', '111082', '110279', '111025', '114345', '107178', '110251',
    '105326', '118326', '107182', '110278', '116074', '114022', '106163',
    '119207', '119219', '106001', '111349'
]
df_julian_dates = pd.DataFrame(julian_dates, columns=['julian_dates'])
df_julian_dates['julian_dates_str'] = df_julian_dates['julian_dates'].astype(int)

df_julian_dates['from_julian_to_greg'] = df_julian_dates.julian_dates.apply(from_julian)
df_julian_dates['greg_to_julian'] = df_julian_dates.from_julian_to_greg.apply(to_julian)
df_julian_dates.head()

# df_julian_dates['greg_dates_str'] = df_julian_dates.from_julian_to_greg.astype(str)
display(df_julian_dates.info())
df_julian_dates.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   julian_dates         60 non-null     object
 1   julian_dates_str     60 non-null     int64
 2   from_julian_to_greg  60 non-null     object
 3   greg_to_julian       60 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.0+ KB

None

  julian_dates  julian_dates_str from_julian_to_greg greg_to_julian
0        05001              5001               05001          05001
1       100001            100001          2000-01-01         100001
2       114007            114007          2014-01-07         114007
3       110236            110236          2010-08-24         110236

# Testing date functions

## Convert datetime to date string

In [5]:
from datetime import datetime
datetime.now().date().strftime('%b %#d, %Y')

'Apr 09, 2021'

## from_julian()

In [6]:
from_julian(264144)

datetime.date(2164, 5, 23)

In [7]:
from_julian(100001)

datetime.date(2000, 1, 1)

In [8]:
from_julian('117001').strftime('%b %#d, %Y')

'Jan 01, 2017'

In [9]:
from_julian('098185').strftime('%b %#d, %Y')

'Jul 04, 1998'

In [10]:
from_julian('113338').strftime('%b %#d, %Y')

'Dec 04, 2013'

## to_julian()

In [11]:
today = datetime.now().date()
display(type(today))

julian_fmt = to_julian(today)
display(julian_fmt)

datetime.date

121099

In [12]:
greg_str = '30/7/2019'
display(greg_str)

julian_fmt = to_julian(pd.to_datetime(greg_str))
display(julian_fmt)

'30/7/2019'

119211

In [13]:
greg_str = '30/7/2019'
display(greg_str)

julian_fmt = to_julian(greg_str, format='%d/%m/%Y')
display(julian_fmt)

'30/7/2019'

119211

In [14]:
greg_str = '1/1/2014'
display(greg_str)

julian_fmt = to_julian(greg_str, format='%d/%m/%Y')
display(julian_fmt)

'1/1/2014'

114001

## to_julian(), from_julian()

In [15]:
greg_str = '30/7/2019'
display(greg_str)

julian_fmt = to_julian(pd.to_datetime(greg_str))
display(julian_fmt)

greg_fmt = from_julian(julian_fmt)
display(greg_fmt.strftime('%d/%#m/%Y'))

'30/7/2019'

119211

'30/07/2019'