In [1]:
from piper.defaults import *

piper v0.1.0: Monday, 29 March 2021 19:06:15

In [2]:
%%piper
df <- pd.read_csv('inputs/export.dsv', sep='\t', low_memory=False)
>> clean_columns() >> memory() >> str_trim() >> memory()
>> drop(columns=['adogid', 'adcrcd_1', 'adurcd', 'aduser',
                 'adpid', 'adjobn', 'adupmj', 'adtday'])
# >> assign(adast = lambda x: x.adast.astype('category'),
#           adcrcd = lambda x: x.adcrcd.astype('category'),
#           aduom = lambda x: x.aduom.astype('category'))
>> across(['adast', 'adcrcd', 'aduom'], lambda x: x.astype('category'), series_obj=True)
>> memory()
>> across(['adeftj', 'adexdj'], function=from_julian) 
>> relocate('price', loc='after', ref_column='adan8')
>> relocate('adcrcd', loc='before', ref_column='adeftj') >> memory()

Dataframe consumes 611.18 Mb

Dataframe consumes 588.44 Mb

Dataframe consumes 152.38 Mb

Dataframe consumes 205.96 Mb

In [3]:
memory(df)
to_parquet(df, 'outputs/test_prices.parquet')
sample(df, 5)

Dataframe consumes 205.96 Mb

877900 rows, 11 columns

,adast,adurrf,aditm,adlitm,adan8,price,aduom,admnq,adcrcd,adeftj,adexdj
156421,GBEYBGBA,2020/00179,332654,114870,0,10000.00,EA,0,GBP,2020-03-01,2021-11-30
842057,GBEYBGBA,2013/00054,48679585,FKLD307,0,12.82,EA,0,GBP,2013-05-01,2016-04-30
176762,GBEYBGBA,2012/00024-7370,48797058,1500912,0,86.25,VL,0,GBP,2012-05-01,2015-04-30
25234,GBLSTPRC,TS,336160,100316018,0,0.65,EA,0,GBP,2019-04-08,2020-03-31
762397,GBEYBGBA,2020/00498,81108245,FKLD1166,0,777.27,EA,0,GBP,2020-04-02,2021-01-31

In [4]:
df2 = pd.read_parquet('outputs/test_prices.parquet')
memory(df2)
head(df2, 5)

Dataframe consumes 205.96 Mb

877900 rows, 11 columns

,adast,adurrf,aditm,adlitm,adan8,price,aduom,admnq,adcrcd,adeftj,adexdj
0,GBLSTPRC,,0,,0,2.1,EA,0,GBP,2016-07-06,2017-03-21
1,GBLSTPRC,Removed per HR,0,,0,0.0,EA,0,GBP,2018-01-31,2018-02-01
2,GBLSTPRC,Fiona RICH,0,,0,2.1,EA,0,GBP,2016-07-06,2017-03-31
3,GBJDBGBA,,0,,48474323,0.0,EA,0,GBP,2014-09-08,2039-12-31
4,GBJDBGBA,,0,,46559723,3.7,EA,0,GBP,2014-08-11,2039-12-31