In [1]:
from piper import piper
from piper.verbs import *
from piper.dates import *

piper version 0.0.7, last run: Friday, 26 February 2021 15:02:09

In [2]:
%%piper
df <- pd.read_csv('inputs/export.dsv', sep='\t', low_memory=False)
>> clean_columns() >> memory() >> trim() >> memory()
>> assign(adast = lambda x: x.adast.astype('category'),
          adcrcd = lambda x: x.adcrcd.astype('category'),
          aduom = lambda x: x.aduom.astype('category'))
>> drop(columns=['adogid', 'adcrcd_1', 'adurcd', 'aduser',
                 'adpid', 'adjobn', 'adupmj', 'adtday'])
>> memory()
>> to_date(['adeftj', 'adexdj'], function=from_julian) 
>> relocate('price', loc='after', ref_column='adan8')
>> relocate('adcrcd', loc='before', ref_column='adeftj') >> memory()

Dataframe with (rows, cols) (877900, 19) consumes 611.18 Mb
Dataframe with (rows, cols) (877900, 19) consumes 588.44 Mb
Dataframe with (rows, cols) (877900, 11) consumes 152.38 Mb
Dataframe with (rows, cols) (877900, 11) consumes 205.96 Mb

In [3]:
memory(df)
to_parquet(df, 'outputs/test_prices.parquet')
sample(df, 5)

Dataframe with (rows, cols) (877900, 11) consumes 205.96 Mb
877900 rows, 11 columns

,adast,adurrf,aditm,adlitm,adan8,price,aduom,admnq,adcrcd,adeftj,adexdj
847292,GBJDBGBA,2014/99999,48858858,FKLD335,0,30.0300,EA,0,GBP,2014-02-09,2020-04-29
708991,GBEYBGBA,2016/00657,276707,FKLD0525,0,18.1292,EA,0,GBP,2016-11-25,2018-11-24
263610,GBEYBGBA,2014/00149,48710691,407402,0,3.3500,EA,0,GBP,2014-07-01,2014-08-01
208036,GBEYBGBA,2016/00022-7370,308117,1504431,0,440.0000,VL,0,GBP,2016-09-01,2017-08-31
517601,GBEYBGBA,2012/00280,48721322,FE5613,0,2.6600,EA,0,GBP,2012-06-11,2014-05-31

In [4]:
df2 = pd.read_parquet('outputs/test_prices.parquet')
memory(df2)
head(df2, 5)

Dataframe with (rows, cols) (877900, 11) consumes 205.96 Mb
877900 rows, 11 columns

,adast,adurrf,aditm,adlitm,adan8,price,aduom,admnq,adcrcd,adeftj,adexdj
0,GBLSTPRC,,0,,0,2.1,EA,0,GBP,2016-07-06,2017-03-21
1,GBLSTPRC,Removed per HR,0,,0,0.0,EA,0,GBP,2018-01-31,2018-02-01
2,GBLSTPRC,Fiona RICH,0,,0,2.1,EA,0,GBP,2016-07-06,2017-03-31
3,GBJDBGBA,,0,,48474323,0.0,EA,0,GBP,2014-09-08,2039-12-31
4,GBJDBGBA,,0,,46559723,3.7,EA,0,GBP,2014-08-11,2039-12-31

In [5]:
info(df2)

Dataframe with (rows, cols) (877900, 11) consumes 205.96 Mb

   columns data_type  unique  isna  isnull  total_count
0    adast  category      10     0       0       877900
1   adurrf    object    4146     0       0       877900
2    aditm     int64   12986     0       0       877900
3   adlitm    object   12986     0       0       877900
4    adan8     int64     779     0       0       877900
5    price   float64   16599     0       0       877900
6    aduom  category       7     0       0       877900
7    admnq     int64       2     0       0       877900
8   adcrcd  category       4     0       0       877900
9   adeftj    object    2087     0       0       877900
10  adexdj    object    1308     0       0       877900