# Reference

In [1]:
from piper import piper
from piper.verbs import *
from piper.defaults import *
from piper.styler import *

piper version 0.0.7, last run: Friday, 26 February 2021 15:07:03

## helper functions

In [2]:
def clean_merge(df, headers, fillna=0):
    '''
    '''

    logger.info('Clearing null values...')
    df.fillna(fillna, inplace=True)

    logger.info('Setting integer value data types...')
    for x in headers:
        if df[x].dtype != 'object':
            df[x] = pd.to_numeric(df[x], downcast='integer')

    return df

# Merging (joining) two tables

In [3]:
# https://youtu.be/_5EhKDCm9VY

In [4]:
headers = ['account', 'type', 'balance']
headers2 = [x + '2' for x in headers]

f = 'inputs/data merge testing.xlsx'
sheet_name = 'Example #1'

df1 = pd.read_excel(f, sheet_name=sheet_name, usecols='A:C')
df2 = pd.read_excel(f, sheet_name=sheet_name, usecols='F:H', header=0, names=headers2)

## Inner join

In [5]:
merge_df = pd.merge(df1, df2, how='inner', left_on=['account'], right_on=['account2'])
head(merge_df).style.hide_index()

13 rows, 6 columns

## Outer join

In [6]:
merge_df = (pd.merge(df1, df2, how='outer',
                    left_on=['account'], right_on=['account2'])
              .sort_values(by='account', ascending=False))
head(merge_df, 4)

14 rows, 6 columns

    account     type  balance  account2     type2  balance2
12       13  savings       20      13.0  checking      54.0
13       13  savings       20      13.0   savings      20.0
11       12  savings       31      12.0   savings      33.0
10       11  savings       16      11.0   savings      30.0

# Styling examples

### Highlight (including null) values

In [7]:
(head(merge_df, 5).style
                  .apply(highlight_values, criteria=['savings'],
                         subset=['type', 'type2'])
                  .apply(highlight_values, criteria=['checking'],
                         subset=['type', 'type2'], color='blue')
                  .apply(highlight_values, criteria=[20, 54],
                         subset=['balance', 'balance2'], color='purple')
                  .apply(highlight_values, criteria=[20, 54],
                         subset=['balance', 'balance2'], type='background', color='orange')
                  .hide_index()
                  .highlight_null(null_color='lightgreen')
)

14 rows, 6 columns

### Highlight (True/False) values

In [8]:
merge_df['account2 is null'] = merge_df['account2'].isna()
merge_df = clean_merge(merge_df, headers+headers2)
(head(merge_df, 5).style
                  .apply(highlight_values, criteria=[False],
                         subset=['account2 is null', 'balance2', 'type2'],
                         color='red')
                  .apply(highlight_values, criteria=[False],
                         subset=['account2 is null', 'balance2', 'type2'],
                         type='background', color='yellow')
)

Clearing null values...
Setting integer value data types...
14 rows, 7 columns

### Background gradient values

In [9]:
(merge_df.pipe(pd.DataFrame.sort_values, by='balance2', ascending=False)
                           .style                     
                           .background_gradient(subset='balance2', cmap='coolwarm')
                           .apply(highlight_values, criteria=[33, 76], subset=['balance'],
                                  color='yellow')
                           .apply(highlight_values, criteria=[33, 76], subset=['balance'],
                                  type='background', color='blue')
                           .apply(highlight_values, criteria=[4, 13], subset=['account'],
                                  color='red')
                           .apply(highlight_values, criteria=[4, 13], subset=['account'],
                                  type='background', color='lightpink')
                           .hide_index()
)

### heatmap

In [10]:
xx = merge_df.style.background_gradient(cmap='viridis').hide_index()
display(xx)
xx.to_excel('outputs/test4.xlsx', index=False)

### Highlight max/min values

In [11]:
(df2.sort_values(by='balance2', ascending=True).style
    .apply(highlight_max, subset='type2', color='orange') 
    .apply(highlight_max, subset='type2', type='background', color='black') 
    .apply(highlight_min, subset='balance2', color='orange')  
    .apply(highlight_min, subset='balance2', type='background', color='grey') 
    .hide_index()
)

### Highlight max/min values - standalone example

In [12]:
import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df2 = pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))

df = pd.concat([df, df2], axis=1)
df.iloc[0, 2] = np.nan

(df.style.apply(highlight_max, subset=['B', 'E'], color='red', axis=0)
         .apply(highlight_max, subset=['B', 'E'], type='background', color='yellow', axis=0))

### Format options

In [13]:
(merge_df[:10]
 .style

 .format({"account": "{:.0f}", "balance": "{:.0f}",
          "account2": "{:.4f}", "balance2": "{:.0f}"})
 .hide_index()
 .set_caption("This is a caption that is modified").set_table_styles([{
    'selector': 'caption',
    'props': [('color', 'blue'), ('font-size', '18px')
    ]
}])
)#.to_excel('outputs/test2.xlsx', index=False, freeze_panes=(1, 0), verbose=True)

### data bars

In [14]:
(merge_df
 .style
 .bar(subset=["account",], color='lightgreen')
 .bar(subset=["balance2",], color='lightblue')
 .format({"account": "{:.0f}", "balance": "{:.0f}",
          "account2": "{:.4f}", "balance2": "{:.0f}"})
 .hide_index()
 .highlight_null(null_color='blue')
 .highlight_max(color='green')
 .highlight_min(color='#cd4f39')
 .set_caption('this is a test')
)#.to_excel('outputs/test2.xlsx', index=False, freeze_panes=(1, 0), verbose=True)

### highlight rows (including null values)

In [15]:
import pandas as pd
import numpy as np

# np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df2 = pd.DataFrame(6+np.random.randn(8, 4), columns=list('BCDE'))

df = pd.concat([df, df2], axis=1)
df.iloc[0, 2] = np.nan

In [16]:
(df.style.hide_index()
         .apply(highlight_rows, column='B', operator='>=', criteria=5, axis=1)
         .apply(highlight_rows, column='B', operator='>=', criteria=5, axis=1,
                type='background', color='yellow')   
)

In [17]:
%run style_utils2.py

(df.style.hide_index()
         .highlight_null(null_color='yellow')
         .apply(highlight_null_rows, column='B', operator='=', axis=1, color='yellow')
         .apply(highlight_null_rows, column='B', operator='=', axis=1,
                type='background', color='blue')   
)

File `'style_utils2.py'` not found.

## DataFrame formats

### AS/400 Style

In [18]:
as400_style = {'background-color': 'black', 'color': 'lightgreen', 'font-size': '140%'}

xl_output = (head(merge_df, 8).style.set_properties(**as400_style)
                  .hide_index()
                  .apply(highlight_max, subset=['account2', 'balance', 'account2 is null'],
                         color='yellow'))
xl_output

14 rows, 7 columns

### Alternative style

In [19]:
xl_output = (head(merge_df, 8).style.set_table_styles(get_default_style())
             .apply(highlight_min, subset='balance', color='yellow')
             .apply(highlight_min, subset='balance', type='background', color='blue')
             .apply(highlight_max, subset='balance', color='yellow')
             .apply(highlight_max, subset='balance', type='background', color='green')
#                   .hide_index()
            )
xl_output

14 rows, 7 columns

In [20]:
xx = df.groupby(['A', 'B','C']).agg(Total=pd.NamedAgg('D', 'sum'))
(head(xx, 8).style.set_table_styles(get_default_style()))

7 rows, 1 columns

In [21]:
xl_output.to_excel('outputs/test.xlsx', index=False, engine='openpyxl')

In [22]:
head(df)

10 rows, 5 columns

     A         B         C         D         E
0  1.0  7.264103       NaN  4.029712  6.803906
1  2.0  7.030550  6.118098  5.978147  6.046841
2  3.0  4.371247  5.607639  7.700973  7.061330
3  4.0  6.695804  5.564011  5.667058  6.602135