In [1]:
from piper import piper
from piper.factory import get_sample_data
from piper.verbs import *

piper version 0.0.7, last run: Friday, 26 February 2021 15:13:42

In [3]:
%%piper

get_sample_data()
>> where("regions.isin(['East', 'North'])")
>> assign(sum_of_values=lambda x: x.values_1 + x.values_2)
>> relocate('sum_of_values', 'after', 'ids')
>> group_by(['regions', 'countries'])
>> summarise(total_value=('sum_of_values', 'sum'))
>> add_group_calc(index='regions')
>> order_by(['regions', 'group_%'], ascending=[True, False])
>> adorn()

                     total_value  group_%
regions countries
East    Norway              8093    19.37
        Italy               6786    16.24
        Portugal            5306    12.70
        France              5199    12.44
        Sweden              5129    12.27
        Spain               4752    11.37
        Switzerland         3396     8.13
        Germany             3126     7.48
North   Norway              5915    16.64
        France              5201    14.64
        Switzerland         5079    14.29
        Spain               4904    13.80
        Germany             3975    11.19
        Italy               3794    10.68
        Portugal            3718    10.46
        Sweden              2952     8.31
        All                77325   200.01