# Setup

In [1]:
from piper import piper
from piper.io import list_files
from piper.pandas import *
from piper.verbs import *

piper version 0.0.7, last run: Friday, 26 February 2021 15:10:16

# Read multiple workbooks (sheets) and consolidate into one dataframe

In [2]:
', '.join([f.stem for f in list_files('inputs/Prod_Groups/')])

'TM Genetic Disease, Cinryze, Shire GPM, GPM Elaprase, GPM Internal Medicine, GPM IM Lifecycle, GPM Neuroscience, GPM Hemophilia, GPM Immunology, GPM Hematology2, Shire, GPM Natpara, GPM Oncology, GPM LSD, GPM HAE, GPM Tedugltide, GPM Hematology1, Immunology, Hematology, GPM Ophthalmic'

In [3]:
%%piper

df <- read_excels(source='inputs/Prod_Groups/', info=False)
>> trim()

## Product Class

In [4]:
count(df, 'Product Class')

    Product Class   n
0      Life-Cycle  82
1  Differentiated  42
2          Launch  26
3             nan   4

In [5]:
df[df['Product Class'].isna()]

Empty DataFrame
Columns: [Product Group Code, Product Name, Product Class]
Index: []

## Duplicates analysis

In [6]:
# Just look at unique values
duplicate_analysis = duplicated(df, keep='first',
                                column='Duplicated',
                                loc='last',
                                unique_only=True)
head(duplicate_analysis)

48 rows, 4 columns

    Product Group Code               Product Name   Product Class  Duplicated
12                   1                  X4  ATIII      Life-Cycle       False
18                   2                  X4  FEIBA  Differentiated       False
21                   3       X4  GAMMAGARD / IGIV      Life-Cycle       False
22                   4  X4  GAMMAGARD LIQUID IGIV      Life-Cycle       False

In [7]:
%%piper

df 
>> duplicated(keep='first',
              column='Duplicated',
              loc='last',
              unique_only=True)
>> head()

48 rows, 4 columns

    Product Group Code               Product Name   Product Class  Duplicated
12                   1                  X4  ATIII      Life-Cycle       False
18                   2                  X4  FEIBA  Differentiated       False
21                   3       X4  GAMMAGARD / IGIV      Life-Cycle       False
22                   4  X4  GAMMAGARD LIQUID IGIV      Life-Cycle       False

In [8]:
%%piper

df 
>> distinct()
>> count('Product Class')
>> adorn(ignore_row_index=True)

    Product Class   n
0      Life-Cycle  24
1  Differentiated  11
2          Launch   9
3             nan   4
4             All  48