In [1]:
from piper import piper
from piper.verbs import *
from piper.factory import get_sample_data

piper version 0.0.7, last run: Friday, 26 February 2021 15:26:21

# Test data

In [2]:
%piper get_sample_data() >> head()

367 rows, 7 columns

       dates order_dates countries regions ids  values_1  values_2
0 2020-01-01  2020-01-07     Italy    East   A       311        26
1 2020-01-02  2020-01-08  Portugal   South   D       150       375
2 2020-01-03  2020-01-09     Spain    East   A       396        88
3 2020-01-04  2020-01-10     Italy    East   B       319       233

# Single column moves

## first

In [3]:
%%piper
get_sample_data()
>> relocate('regions', loc='first')
>> head()

367 rows, 7 columns

  regions      dates order_dates countries ids  values_1  values_2
0    East 2020-01-01  2020-01-07     Italy   A       311        26
1   South 2020-01-02  2020-01-08  Portugal   D       150       375
2    East 2020-01-03  2020-01-09     Spain   A       396        88
3    East 2020-01-04  2020-01-10     Italy   B       319       233

## last

In [4]:
%%piper
get_sample_data()
>> relocate('regions', loc='last')
>> head()

367 rows, 7 columns

       dates order_dates countries ids  values_1  values_2 regions
0 2020-01-01  2020-01-07     Italy   A       311        26    East
1 2020-01-02  2020-01-08  Portugal   D       150       375   South
2 2020-01-03  2020-01-09     Spain   A       396        88    East
3 2020-01-04  2020-01-10     Italy   B       319       233    East

## before

In [5]:
%%piper
get_sample_data()
>> relocate('regions', loc='before', ref_column='values_1')
>> head()

367 rows, 7 columns

       dates order_dates countries ids regions  values_1  values_2
0 2020-01-01  2020-01-07     Italy   A    East       311        26
1 2020-01-02  2020-01-08  Portugal   D   South       150       375
2 2020-01-03  2020-01-09     Spain   A    East       396        88
3 2020-01-04  2020-01-10     Italy   B    East       319       233

## after

In [6]:
%%piper
get_sample_data()
>> relocate('regions', loc='after', ref_column='countries')
>> head()

367 rows, 7 columns

       dates order_dates countries regions ids  values_1  values_2
0 2020-01-01  2020-01-07     Italy    East   A       311        26
1 2020-01-02  2020-01-08  Portugal   South   D       150       375
2 2020-01-03  2020-01-09     Spain    East   A       396        88
3 2020-01-04  2020-01-10     Italy    East   B       319       233

# Multi column moves

## first

In [7]:
%%piper
get_sample_data()
>> relocate(['order_dates', 'countries', 'regions'],
               loc='first', ref_column='dates')
>> head()

367 rows, 7 columns

  order_dates countries regions      dates ids  values_1  values_2
0  2020-01-07     Italy    East 2020-01-01   A       311        26
1  2020-01-08  Portugal   South 2020-01-02   D       150       375
2  2020-01-09     Spain    East 2020-01-03   A       396        88
3  2020-01-10     Italy    East 2020-01-04   B       319       233

## last

In [8]:
%%piper
get_sample_data()
>> relocate(['order_dates', 'countries', 'regions'],
               loc='last', ref_column='dates')
>> head()

367 rows, 7 columns

       dates ids  values_1  values_2 order_dates countries regions
0 2020-01-01   A       311        26  2020-01-07     Italy    East
1 2020-01-02   D       150       375  2020-01-08  Portugal   South
2 2020-01-03   A       396        88  2020-01-09     Spain    East
3 2020-01-04   B       319       233  2020-01-10     Italy    East

## before

In [9]:
%%piper
get_sample_data()
>> relocate(['order_dates', 'countries', 'regions'],
               loc='before', ref_column='dates')
>> head()

367 rows, 7 columns

  order_dates countries regions      dates ids  values_1  values_2
0  2020-01-07     Italy    East 2020-01-01   A       311        26
1  2020-01-08  Portugal   South 2020-01-02   D       150       375
2  2020-01-09     Spain    East 2020-01-03   A       396        88
3  2020-01-10     Italy    East 2020-01-04   B       319       233

## after

In [10]:
%%piper
get_sample_data()
>> relocate(['dates', 'regions', 'countries'],
               loc='after', ref_column='order_dates')
>> head()

367 rows, 7 columns

  order_dates      dates regions countries ids  values_1  values_2
0  2020-01-07 2020-01-01    East     Italy   A       311        26
1  2020-01-08 2020-01-02   South  Portugal   D       150       375
2  2020-01-09 2020-01-03    East     Spain   A       396        88
3  2020-01-10 2020-01-04    East     Italy   B       319       233