In [1]:
from piper import piper
from piper.verbs import *

piper version 0.0.9, last run: Tuesday, 09 March 2021 20:05:13

In [2]:
id_list = ['A', 'B', 'C', 'D', 'E']
s1 = pd.Series(np.random.choice(id_list, size=5), name='ids')

list1 = ['East', 'West', 'North', 'South']
s2 = pd.Series(np.random.choice(list1, size=5), name='regions')

list2 = ['UK', 'France', 'Germany', 'Italy']
s3 = pd.Series(np.random.choice(list2, size=5), name='countries')

list3 = [10, 29, 43, 44, 94]
s4 = pd.Series(np.random.choice(list3, size=5), name='numbers')

df = pd.concat([s1, s2, s3, s4], axis=1)
df

  ids regions countries  numbers
0   C    East    France       29
1   D   North     Italy       44
2   A   North     Italy       44
3   A   North    France       10
4   D    East   Germany       10

In [3]:
df2 = relocate(df, ['regions', 'countries'], loc=3)
df2

  ids  numbers
0   C       29
1   D       44
2   A       44
3   A       10
4   D       10

In [4]:
id_list = ['A', 'B', 'C', 'D', 'E']
s1 = pd.Series(np.random.choice(id_list, size=5), name='ids')

region_list = ['East', 'West', 'North', 'South']
s2 = pd.Series(np.random.choice(region_list, size=5), name='regions')

df = pd.concat([s1, s2], axis=1)
df

  ids regions
0   C   South
1   A    East
2   C   North
3   D    West
4   B    West

In [5]:
relocate(df, 'regions', loc=1)

  ids
0   C
1   A
2   C
3   D
4   B