# Setup

In [1]:
from piper.defaults import *

piper v0.1.2: Friday, 09 April 2021 18:51:03

# Read multiple workbooks (sheets) and consolidate into one dataframe

In [2]:
', '.join([f.stem for f in list_files('inputs/Prod_Groups/')])

'TM Genetic Disease, Cinryze, Shire GPM, GPM Elaprase, GPM Internal Medicine, GPM IM Lifecycle, GPM Neuroscience, GPM Hemophilia, GPM Immunology, GPM Hematology2, Shire, GPM Natpara, GPM Oncology, GPM LSD, GPM HAE, GPM Tedugltide, GPM Hematology1, Immunology, Hematology, GPM Ophthalmic'

In [3]:
%%piper

df <- read_excels(source='inputs/Prod_Groups/', info=False)
>> str_trim()

## Product Class

In [4]:
count(df, 'Product Class')

4 rows, 3 columns

                 n      %   cum %
Product Class
Life-Cycle      82  53.25   53.25
Differentiated  42  27.27   80.52
Launch          26  16.88   97.40
nan              4   2.60  100.00

In [5]:
df[df['Product Class'].isna()]

Empty DataFrame
Columns: [Product Group Code, Product Name, Product Class]
Index: []

## Duplicates analysis

In [6]:
# Just look at unique values
duplicate_analysis = duplicated(df, loc='last', duplicates=True)
head(duplicate_analysis)

150 rows, 4 columns

     Product Group Code Product Name Product Class  duplicate
12                    1    X4  ATIII    Life-Cycle       True
79                    1    X4  ATIII    Life-Cycle       True
90                    1    X4  ATIII    Life-Cycle       True
103                   1    X4  ATIII    Life-Cycle       True

In [7]:
%%piper

df 
>> duplicated(keep='first', duplicates=False)
>> head()

154 rows, 4 columns

     duplicate  Product Group Code Product Name Product Class
12       False                   1    X4  ATIII    Life-Cycle
79        True                   1    X4  ATIII    Life-Cycle
90        True                   1    X4  ATIII    Life-Cycle
103       True                   1    X4  ATIII    Life-Cycle

In [8]:
%%piper

df 
>> distinct()
>> count('Product Class')
>> adorn(ignore_index=True)

4 rows, 3 columns

    n       %   cum %
0  24   50.00   50.00
1  11   22.92   72.92
2   9   18.75   91.67
3   4    8.33  100.00
4  48  100.00  314.59