In [1]:
from piper import piper
from piper.verbs import *
from piper.factory import get_sample_data

piper version 0.0.7, last run: Friday, 19 February 2021 12:12:12

In [2]:
df = get_sample_data()

In [3]:
%%piper
df
>> select(['-countries', '-values_2'])
>> move_column('regions', 'before', 'order_dates')
>> where("(dates > '2020-01') & (regions == 'North')")
>> order_by(['dates', 'regions', 'order_dates', 'ids'])
>> head()
# >> columns(astype='list')

83 rows, 5 columns

        dates regions order_dates ids  values_1
5  2020-01-06   North  2020-01-12   D       155
9  2020-01-10   North  2020-01-16   C       331
10 2020-01-11   North  2020-01-17   A       187
12 2020-01-13   North  2020-01-19   B        28

In [4]:
info(df).T

Dataframe with (rows, cols) (367, 7) consumes 0.08 Mb

,0,1,2,3,4,5,6
columns,dates,order_dates,countries,regions,ids,values_1,values_2
data_type,datetime64[ns],datetime64[ns],object,object,object,int64,int64
unique,367,367,8,4,5,237,240
isna,0,0,0,0,0,0,0
isnull,0,0,0,0,0,0,0
total_count,367,367,367,367,367,367,367

In [5]:
columns(df, astype='dict')

{'dates': 'dates',
 'order_dates': 'order_dates',
 'countries': 'countries',
 'regions': 'regions',
 'ids': 'ids',
 'values_1': 'values_1',
 'values_2': 'values_2'}

In [6]:
df.describe().T

          count        mean         std   min    25%    50%    75%    max
values_1  367.0  200.555858  115.633685  11.0   97.0  195.0  303.0  399.0
values_2  367.0  204.803815  114.050701  11.0  107.0  203.0  306.0  397.0

In [7]:
%%piper
df 
>> select('-values_2')
>> where(""" countries.isin(['France', 'Germany'])
             and ids == 'A'
             and values_1.between(50, 107)
             and dates >= '2020-01-01'
             and dates <= '2020-09-01'
         """)
>> assign(new_calc_field = lambda x: x.values_1 * 4)
>> assign(catted_field = lambda x: x.countries + '_' + x.regions)
>> drop(columns='ids')
>> move_column('countries', loc='before', ref_column='dates')
>> move_column('regions', loc='after', ref_column='countries')
>> pd.DataFrame.reset_index(drop=True)
# >> group_by('countries')
# >> summarise({'values_1': 'sum'})
# >> pd.DataFrame.reset_index()
>> tail(10)

5 rows, 7 columns

,countries,regions,dates,order_dates,values_1,new_calc_field,catted_field
0,France,South,2020-01-22,2020-01-28,72,288,France_South
1,France,West,2020-01-27,2020-02-02,65,260,France_West
2,France,East,2020-02-25,2020-03-02,54,216,France_East
3,Germany,North,2020-08-20,2020-08-26,64,256,Germany_North
4,France,West,2020-08-24,2020-08-30,64,256,France_West

In [8]:
%%piper -r
df 
%>% select('-values_2')
%>% where(""" countries.isin(['France', 'Germany'])
              and ids == 'A'
              and values_1.between(50, 107)
              and dates >= '2020-01-01'
              and dates <= '2020-09-01'
          """)
%>% pd.DataFrame.reset_index(drop=True)
%>% tail(10)

5 rows, 6 columns

       dates order_dates countries regions ids  values_1
0 2020-01-22  2020-01-28    France   South   A        72
1 2020-01-27  2020-02-02    France    West   A        65
2 2020-02-25  2020-03-02    France    East   A        54
3 2020-08-20  2020-08-26   Germany   North   A        64
4 2020-08-24  2020-08-30    France    West   A        64

In [9]:
%%piper -r
df2 <- df 
%>% select('-values_2')
%>% where(""" countries.isin(['France', 'Germany'])
              and ids == 'A'
              and values_1.between(50, 107)
              and dates >= '2020-01-01'
              and dates <= '2020-09-01'
          """)
%>% pd.DataFrame.reset_index(drop=True)
%>% tail(10)

5 rows, 6 columns

In [10]:
%piper df2

       dates order_dates countries regions ids  values_1
0 2020-01-22  2020-01-28    France   South   A        72
1 2020-01-27  2020-02-02    France    West   A        65
2 2020-02-25  2020-03-02    France    East   A        54
3 2020-08-20  2020-08-26   Germany   North   A        64
4 2020-08-24  2020-08-30    France    West   A        64