# Setup

In [1]:
from piper.defaults import *

piper v0.1.2: Friday, 09 April 2021 18:49:25

# Example: read xl data, combine header rows > 1 row

In [2]:
xl_file = Path('inputs/Data/sales_2017.xlsx')

In [3]:
%%piper
pd.read_excel(xl_file, header=None)
>> head()

2155 rows, 12 columns

,0,1,2,3,4,5,6,7,8,9,10,11
0,Order,Customer,Sales,Order,Ship,Order,SKU,Order,Unit Sell,Discount,Shipping,Ship Mode
1,ID,ID,Person,Date,Date,Priority,Code,Quantity,Price,Percent,Amount,Container
2,13729,C508,Mr Robert Carlton,2017-01-01 00:00:00,2017-01-03 00:00:00,Not Specified,SKU947,9,95.99,0.08,35,Express Air - Large Box
3,28774,C372,Miss Roseanna Marr,2017-01-01 00:00:00,2017-01-02 00:00:00,High,SKU937,32,5.98,0.1,4.69,Regular Air - Small Box

In [4]:
%%piper

pd.read_excel(xl_file, header=None)
>> rows_to_names()
>> clean_names(case='camel', title=True)
>> head()

2153 rows, 12 columns

,OrderId,CustomerId,SalesPerson,OrderDate,ShipDate,OrderPriority,SkuCode,OrderQuantity,UnitSellPrice,DiscountPercent,ShippingAmount,ShipModeContainer
2,13729,C508,Mr Robert Carlton,2017-01-01,2017-01-03,Not Specified,SKU947,9,95.99,0.08,35.00,Express Air - Large Box
3,28774,C372,Miss Roseanna Marr,2017-01-01,2017-01-02,High,SKU937,32,5.98,0.10,4.69,Regular Air - Small Box
4,9285,C212,Mr Robert Carlton,2017-01-02,2017-01-04,Critical,SKU363,3,40.98,0.06,2.99,Regular Air - Small Box
5,37537,C015,Mr Robert Carlton,2017-01-02,2017-01-02,Low,SKU052,4,291.73,0.00,48.80,Delivery Truck - Jumbo Drum