In [1]:
from piper.defaults import *

piper v0.1.2: Friday, 09 April 2021 18:50:44

In [2]:
id_list = ['A', 'B', 'C', 'D', 'E']
s1 = pd.Series(np.random.choice(id_list, size=5), name='ids')

list1 = ['East', 'West', 'North', 'South']
s2 = pd.Series(np.random.choice(list1, size=5), name='regions')

list2 = ['UK', 'France', 'Germany', 'Italy']
s3 = pd.Series(np.random.choice(list2, size=5), name='countries')

list3 = [10, 29, 43, 44, 94]
s4 = pd.Series(np.random.choice(list3, size=5), name='numbers')

df = pd.concat([s1, s2, s3, s4], axis=1)
df

  ids regions countries  numbers
0   E   North   Germany       10
1   B    West   Germany       44
2   E   South     Italy       44
3   B   North    France       94
4   B   South        UK       43

In [3]:
df2 = relocate(df, ['regions', 'countries'], loc=3)
df2

  ids  numbers
0   E       10
1   B       44
2   E       44
3   B       94
4   B       43

In [4]:
id_list = ['A', 'B', 'C', 'D', 'E']
s1 = pd.Series(np.random.choice(id_list, size=5), name='ids')

region_list = ['East', 'West', 'North', 'South']
s2 = pd.Series(np.random.choice(region_list, size=5), name='regions')

df = pd.concat([s1, s2], axis=1)
df

  ids regions
0   B   South
1   D    East
2   C   North
3   A    West
4   D    East

In [5]:
relocate(df, 'regions', loc=1)

  ids
0   B
1   D
2   C
3   A
4   D