# Setup

In [1]:
from piper.defaults import *
from piper.jde import add_jde_batch

piper v0.1.0: Monday, 29 March 2021 19:08:50

# Importing data into a dataframe

In [2]:
%piper df <- sample_data()
%piper df >> head()

367 rows, 7 columns

       dates order_dates countries regions ids  values_1  values_2
0 2020-01-01  2020-01-07     Italy    East   A       311        26
1 2020-01-02  2020-01-08  Portugal   South   D       150       375
2 2020-01-03  2020-01-09     Spain    East   A       396        88
3 2020-01-04  2020-01-10     Italy    East   B       319       233

## count() / counts()

In [3]:
%%piper
df 
>> count('countries')
>> adorn(axis='both', ignore_row_index=True)
>> head(10)

Use %piper/%%piper --info to see rendered pandas pipe statement

adorn() got an unexpected keyword argument 'ignore_row_index'

## where()

In [4]:
query = "regions == 'East' and countries.isin(['Italy'])"

In [5]:
%%piper 
df 
>> where(query) 
>> count(columns=['regions', 'countries'],
          percent=True,
          cum_percent=True)

                    n      %  cum %
regions countries
East    Italy      17  100.0  100.0

In [6]:
df = df.query(query)
df = count(df, ['regions', 'countries'], percent=True, cum_percent=True)
df.loc[('East', 'Italy'), 'cum %']

100.0

In [7]:
%%piper 
sample_data() 
>> select('-dates')
# >> where("regions == 'East' and values_1 == 29 ")
# >> group_by(['regions', 'countries'])
>> summarise({'values_1': 'sum', 'values_2': 'sum'})

values_1    73604
values_2    75163
dtype: int64

In [8]:
%%piper
sample_data()
# >> memory() 
# >> select(slice('regions', 'values_2'))
# >> assign(new_col = lambda x: x.values_2 * 4)
# >> group_by('regions')
# >> summarise({'new_col': 'mean'})
# >> rename(columns={'new_col': 'mean_value'}).reset_index()
>> sample(10)
>> add_jde_batch(col_prefix='aa_')
>> head().reset_index(drop=True)

367 rows, 7 columns

10 rows, 11 columns

,aa_us,aa_bt,aa_tn,aa_ln,dates,order_dates,countries,regions,ids,values_1,values_2
0,userid,ABC_20210329,1,NaN,2020-03-21,2020-03-27,France,South,A,368,235
1,userid,ABC_20210329,1,NaN,2020-07-17,2020-07-23,Switzerland,West,E,98,220
2,userid,ABC_20210329,1,NaN,2020-03-01,2020-03-07,France,West,A,214,296
3,userid,ABC_20210329,1,NaN,2020-05-24,2020-05-30,Sweden,East,A,368,376

In [9]:
%%piper
sample_data()
>> memory() 
>> select(('regions', 'values_2'))
>> assign(new_col = lambda x: x.values_2 * 4, lambda_str=False)
>> group_by('regions')
>> summarise({'new_col': 'mean'})
>> adorn()
>> rename(columns={'new_col': 'mean_value'})

Dataframe consumes 0.08 Mb

        mean_value
East    867.922330
South   821.563218
North   865.590361
West    722.723404
All    3277.799314