In [1]:
from piper import piper
from piper.verbs import *

piper version 0.0.7, last run: Friday, 19 February 2021 12:07:43

In [2]:
id_list = ['A', 'B', 'C', 'D', 'E']
s1 = pd.Series(np.random.choice(id_list, size=5), name='ids')

list1 = ['East', 'West', 'North', 'South']
s2 = pd.Series(np.random.choice(list1, size=5), name='regions')

list2 = ['UK', 'France', 'Germany', 'Italy']
s3 = pd.Series(np.random.choice(list2, size=5), name='countries')

list3 = [10, 29, 43, 44, 94]
s4 = pd.Series(np.random.choice(list3, size=5), name='numbers')

df = pd.concat([s1, s2, s3, s4], axis=1)
df

  ids regions countries  numbers
0   A   South        UK       94
1   C    West   Germany       43
2   B   North    France       29
3   E    West     Italy       29
4   C    West        UK       10

In [3]:
df2 = move_column(df, ['regions', 'countries'], loc=3)
df2

  ids  numbers
0   A       94
1   C       43
2   B       29
3   E       29
4   C       10

In [4]:
id_list = ['A', 'B', 'C', 'D', 'E']
s1 = pd.Series(np.random.choice(id_list, size=5), name='ids')

region_list = ['East', 'West', 'North', 'South']
s2 = pd.Series(np.random.choice(region_list, size=5), name='regions')

df = pd.concat([s1, s2], axis=1)
df

  ids regions
0   C    East
1   B   South
2   E   North
3   B   North
4   A   South

In [5]:
move_column(df, 'regions', loc=1)

  ids
0   C
1   B
2   E
3   B
4   A