# Reference
Data sourced from: https://trumpexcel.com/combine-multiple-worksheets/

# Example
Consolidate regional sales data workbook from 4 sheets into one dataframe.

In [1]:
from piper.defaults import *

piper v0.1.0: Monday, 29 March 2021 19:08:47

In [2]:
xl_file = 'inputs/Region wise Sales Data.xlsx'
read_excel_sheets(xl_file, return_type='list')

['East', 'West', 'North', 'South']

In [3]:
%%piper
df <- read_excel_sheets(xl_file,
                        skiprows=3,
                        include_sheet=True,
                        return_type='combine',              
                        info=False)
>> clean_columns()
>> relocate('sheet_name', 'after', 'date')
>> relocate('sales_rep', 'after', 'price')
>> rename(columns={'sheet_name': 'region', 'commission': 'comm_perc'})
>> assign(comm_value=lambda x: x.quantity * x.price * x.comm_perc)

In [4]:
head(df, 3)

1303 rows, 8 columns

,date,region,item,quantity,price,sales_rep,comm_perc,comm_value
0,2018-07-01,East,Printer,10,80,Laura,0.08,64.0
1,2018-07-01,East,White Board,18,40,Stacey,0.06,43.2
2,2018-07-01,East,Office Chair,7,230,Mark,0.08,128.8

## Summary counts - items, sales_rep, region

In [5]:
%%piper
df 
>> clean_columns()
>> count('item')
>> adorn(ignore_row_index=True)

Use %piper/%%piper --info to see rendered pandas pipe statement

adorn() got an unexpected keyword argument 'ignore_row_index'

In [6]:
%%piper
df 
>> clean_columns()
>> count('sales_rep')
>> adorn(ignore_row_index=True)

Use %piper/%%piper --info to see rendered pandas pipe statement

adorn() got an unexpected keyword argument 'ignore_row_index'

In [7]:
%%piper
df 
>> clean_columns()
>> count('region')
>> adorn(ignore_row_index=True)

Use %piper/%%piper --info to see rendered pandas pipe statement

adorn() got an unexpected keyword argument 'ignore_row_index'