# Reference
Data sourced from: https://trumpexcel.com/combine-multiple-worksheets/

# Example
Consolidate regional sales data workbook from 4 sheets into one dataframe.

In [1]:
from piper import piper
from piper.verbs import *
from piper.pandas import *

piper version 0.0.7, last run: Friday, 26 February 2021 15:27:01

In [2]:
xl_file = 'inputs/Region wise Sales Data.xlsx'
read_excel_sheets(xl_file, return_type='list')

['East', 'West', 'North', 'South']

In [3]:
%%piper
df <- read_excel_sheets(xl_file, skiprows=3, include_sheet=True, info=False)
>> clean_columns()
>> relocate('sheet_name', 'after', 'date')
>> relocate('sales_rep', 'after', 'price')
>> rename(columns={'sheet_name': 'region', 'commission': 'comm_perc'})
>> assign(comm_value=lambda x: x.quantity * x.price * x.comm_perc)

In [4]:
head(df, 3)

1303 rows, 8 columns

,date,region,item,quantity,price,sales_rep,comm_perc,comm_value
0,2018-07-01,East,Printer,10,80,Laura,0.08,64.0
1,2018-07-01,East,White Board,18,40,Stacey,0.06,43.2
2,2018-07-01,East,Office Chair,7,230,Mark,0.08,128.8

## Summary counts - items, sales_rep, region

In [5]:
%%piper
df 
>> clean_columns()
>> count('item')
>> adorn(ignore_row_index=True)

           item     n
0   White Board   312
1       Printer   297
2         Diary   235
3  Office Chair   232
4     Projector   227
5           All  1303

In [6]:
%%piper
df 
>> clean_columns()
>> count('sales_rep')
>> adorn(ignore_row_index=True)

  sales_rep     n
0      John   278
1    Stacey   270
2     Laura   257
3       Bob   257
4      Mark   241
5       All  1303

In [7]:
%%piper
df 
>> clean_columns()
>> count('region')
>> adorn(ignore_row_index=True)

  region     n
0  North   362
1   East   341
2   West   324
3  South   276
4    All  1303