# Reference
Data sourced from: https://trumpexcel.com/combine-multiple-worksheets/

# Example
Consolidate regional sales data workbook from 4 sheets into one dataframe.

In [1]:
from piper.defaults import *

piper v0.1.2: Friday, 09 April 2021 18:50:50

In [2]:
xl_file = 'inputs/Region wise Sales Data.xlsx'
read_excel_sheets(xl_file, return_type='list')

['East', 'West', 'North', 'South']

In [3]:
%%piper
df <- read_excel_sheets(xl_file,
                        skiprows=3,
                        include_sheet=True,
                        return_type='combine',              
                        info=False)
>> clean_names()
>> relocate('sheet_name', 'after', 'date')
>> relocate('sales_rep', 'after', 'price')
>> rename(columns={'sheet_name': 'region', 'commission': 'comm_perc'})
>> assign(comm_value=lambda x: x.quantity * x.price * x.comm_perc)

In [4]:
head(df, 3)

1303 rows, 8 columns

,date,region,item,quantity,price,sales_rep,comm_perc,comm_value
0,2018-07-01,East,Printer,10,80,Laura,0.08,64.0
1,2018-07-01,East,White Board,18,40,Stacey,0.06,43.2
2,2018-07-01,East,Office Chair,7,230,Mark,0.08,128.8

## Summary counts - items, sales_rep, region

In [5]:
%%piper

df 
>> clean_names()
>> count('item')
>> adorn(ignore_index=True)

5 rows, 3 columns

      n       %   cum %
0   312   23.94   23.94
1   297   22.79   46.74
2   235   18.04   64.77
3   232   17.81   82.58
4   227   17.42  100.00
5  1303  100.00  318.03

In [6]:
%%piper
df 
>> clean_names()
>> count('sales_rep')
>> adorn(ignore_index=True)

5 rows, 3 columns

      n       %   cum %
0   278   21.34   21.34
1   270   20.72   42.06
2   257   19.72   61.78
3   257   19.72   81.50
4   241   18.50  100.00
5  1303  100.00  306.68

In [7]:
%%piper
df 
>> clean_names()
>> count('region')
>> adorn(ignore_index=True)

4 rows, 3 columns

      n       %   cum %
0   362   27.78   27.78
1   341   26.17   53.95
2   324   24.87   78.82
3   276   21.18  100.00
4  1303  100.00  260.55